.at-tabs__item {
    font-size: 36px;
    padding-bottom: 18px;
    padding-top: 18px;
}
.at-tabs__header {
    padding: 0 100px;
}
// 去下划线
.at-tabs__underline {
    display: none !important;
}
.at-tabs__item-underline{
    display: none !important;
}